.sub_wrapper {
  width: 100%;
  height: 600px;
  margin: auto;

  .sub_img {
    width: 162px;
    height: 110px;
  }

  .sub_box {
    display: flex;
    margin: 50px 180px;
    gap: 210px;
  }

  .sub_title {
    /* Клиенты */

    width: 604px;
    height: 61px;
    margin-left: 180px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    /* dark */
    color: #001e42;
  }

  .sub_img_box {
    display: flex;
    gap: 270px;
  }

  .sub_mini_title {
    /* Организация IT-инфраструктуры в Киеве */

    width: 716px;
    height: 24px;
margin-left: 180px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    /* txt-light */
    color: #a5aaaf;
  }

  .sub_mini_text {
    /* Мы имеем большой опыт организации работы IT отделов разных компаний из города Киев и на основе этого создали универсальный протокол работы, который гарантирует стабильно высокое качество предоставления услуг. Всегда на старте проводим аудит существующих апаратных и программных решений. Берем во внимание как проложены сети, установленное серверное и коммутационное оборудование, к каким провайдерам и на каких условиях подключено. Анализ установленных компьютеров и оборудования, завязанных в сеть компании. По результатам этого этапа работы мы даем комплексный отчет с перечнем найденных критических и потенциально проблемных мест в ИТ-инфраструктуре компании, с вариантами их устранения. В случае если идет проектирование IT-инфраструктуры с нуля, мы учтем все пожелания и сразу сделаем все необходимое для бесперебойной работы компьютерной сети компании. Спланируем и организуем переезд всех IT-систем офиса на новую локацию или удаленную работу сотрудников при необходимости. */

    width: 530px;
    height: 359px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    /* or 16px */

    /* txt-light */
    color: #a5aaaf;
  }

  .sub_mini_box {
    display: flex;
    margin: 50px 180px;
    gap: 210px;
  }
}
